@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Montserrat&family=Overpass:wght@400;600;700&display=swap");

:root {
	/* Color variables */
	--primary: hsl(25, 97%, 53%);
	--neutral-white: hsl(0, 0%, 94%);
	--neutral-light-grey: hsl(216, 12%, 54%);
	--neutral-medium-grey: #9ea5af;
	--neutral-blue: #202731;
	--neutral-dark-blue: #2a3339;
	--neutral-very-dark-blue: #141519;

	/* Typography variables */
	--body-copy-h1: 25px;
	--body-copy-paragraph: 15px;
	--button-submit: 16px;
}

/* Global styles/Margin reset */
* {
	margin: 0%;
	padding: 0%;
	font-family: "Overpass", sans-serif;
	color: white;
	user-select: none;
}

body {
	background: var(--neutral-very-dark-blue);
	margin-top: 25vh;
}

h1 {
	font-size: var(--body-copy-h1);
	font-weight: 600;
	margin-bottom: 10px;
	margin-left: 10px;
}

p {
	font-size: var(--body-copy-paragraph);
	font-weight: 400;
	color: var(--neutral-medium-grey);
	margin-bottom: 25px;
	margin-left: 10px;
	line-height: 22px;
}
/* Rating wrapper */

.rating-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 20vw;
	min-height: 42vh;
	max-width: 20vw;
	max-height: 42vh;
	margin: 0 auto;
	/* margin: 225px 275px 225px 275px; */
	padding: 0px 25px 0px 25px;
	background-color: var(--neutral-blue);
	border-radius: 5%;
}

/* Rating buttons */

.rating-buttons {
	display: flex;
	justify-content: space-between;
	border: none;
	margin-right: 10px;
}

.rating-buttons input {
	visibility: hidden;
	position: inherit;
}

.rating-buttons label {
	color: var(--neutral-light-grey);
	background-color: var(--neutral-dark-blue);
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	font-size: var(--button-submit);
	margin-left: -10px;
	padding: 15px 20px 15px 20px;
	border-radius: 50%;
}

.rating-buttons label:hover {
	background-color: var(--primary);
	color: var(--neutral-white);
}

.rating-buttons input[type="radio"]:checked + label {
	background-color: var(--neutral-light-grey);
	transition: none;
	color: white;
}

/* Star icon */

.star-icon {
	width: 15px;
	height: 15px;
	padding: 15px;
	margin-left: 7px;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius: 50%;
	background-color: var(--neutral-dark-blue);
}

/* Submit button */

.submit {
	cursor: pointer;
	background-color: var(--primary);
	border: none;
	border-radius: 25px;
	min-height: 40px;
	letter-spacing: 2px;
	font-size: var(--button-submit);
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 13px 0px 13px 0px;
	transition: all 0.25s ease-in-out;
}

.submit:hover {
	background-color: var(--neutral-white);
	color: var(--primary);
}

.thank-you-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 20vw;
	min-height: 42vh;
	max-width: 20vw;
	max-height: 42vh;
	margin: 0 auto;
	/* margin: 225px 275px 225px 275px; */
	padding: 0px 25px 0px 25px;
	background-color: var(--neutral-blue);
	border-radius: 5%;
}

.radio-val {
	color: var(--primary);
	font-weight: 400;
	margin-top: 30px;
	background-color: var(--neutral-dark-blue);
	padding: 5px 15px 5px 15px;
	border-radius: 25px;
}

.hidden {
	display: none;
}

/* Media Queries */

@media screen and (max-width: 1260px) {
	.rating-wrapper {
		min-width: 35vw;
	}

	.thank-you-wrapper {
		min-width: 35vw;
	}
}

@media screen and (max-width: 690px) {
	.rating-wrapper {
		min-width: 50vw;
	}

	.thank-you-wrapper {
		min-width: 50vw;
	}
}

@media screen and (max-width: 480px) {
	.rating-wrapper {
		min-width: 80vw;
	}

	.thank-you-wrapper {
		min-width: 80vw;
	}
}
